@import "variables/global";
@import "reset";
@import "themes/normal";
@import "themes/dark";
@import "themes/purple";

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

body, .app {
  font: var(--font-m);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

.page {
  flex-grow: 1;
  padding: 20px;
}
