.LoginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.error {
  margin-top: 5px;
  height: 24px;
}

.input {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}
