.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.primary {
  .title {
    color: var(--primary-color)
  }

  .text {
    color: var(--secondary-color)
  }
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.sizeS {
  &.keepTitleHeight {
    height: var(--font-line-m);
  }

  &.keepTextHeight {
    height: var(--font-line-s);
  }

  .title {
    font: var(--font-m);
  }

  .text {
    font: var(--font-s);
  }
}

.sizeM {
  &.keepTitleHeight {
    height: var(--font-line-l);
  }

  &.keepTextHeight {
    height: var(--font-line-m);
  }

  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.sizeL {
  &.keepTitleHeight {
    height: var(--font-line-xl);
  }

  &.keepTextHeight {
    height: var(--font-line-l);
  }

  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}

.ellipsis {
  .title, .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
