.Modal {
  opacity: 0;
  z-index: -1;
  inset: 0;
  position: fixed;
  pointer-events: none;
  transition: all 0.2s ease-in;

  &.open {
    opacity: 1;
  }

  &.open:not(.closing) {
    pointer-events: auto;
    z-index: var(--modal-z-index);
  }
}

.content {
  max-width: 60%;
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-color);
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.Modal.open:not(.closing) .content {
  transform: scale(1);
}


