.body {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  align-items: end;
  padding: 10px;
  border: 1px solid var(--primary-color);
}

.textarea {
  width: 90%;
  max-height: 400px;
}

.error {
  height: 24px;
}

.loading {
  cursor: wait;
}
