.Button {
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

// themes
.clearInverted {
  color: var(--inverted-primary-color);
}

.Button.clear, .Button.clearInverted {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;

  &:hover {
    opacity: 0.7;
  }
}

.outlineRed {
  border: 1px solid var(--red-light);
  color: var(--red-light);
  background: none;

  &:hover {
    color: var(--red-dark);
    border: 1px solid var(--red-dark);
  }
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  transition: all 0.15s ease;

  &:hover {
    color: var(--inverted-primary-color);
    border: 1px solid var(--inverted-primary-color);
  }
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
  transition: all 0.15s ease;

  &:hover {
    color: var(--inverted-primary-color);
  }
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
  transition: all 0.15s ease;

  &:hover {
    color: var(--primary-color);
  }
}

// sizes
.sizeSm {
  padding: 6px 12px;
  font-size: var(--font-m);
}

.sizeM {
  padding: 10px 28px;
  font-size: var(--font-m);
}

.sizeL {
  padding: 10px 32px;
  font-size: var(--font-l);
}

.sizeXL {
  padding: 10px 38px;
  font-size: var(--font-xl);
}

.sizeContent {
  width: fit-content;
  height: fit-content;
}

// mods
.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.square {
  aspect-ratio: 1 / 1;

  &.sizeSm {
    width: var(--font-line-s);
    height: var(--font-line-s);
    font-size: var(--font-size-s);
  }

  &.sizeM {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font-size: var(--font-size-m);
    padding: 0;
  }

  &.sizeL {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font-size: var(--font-size-l);
    padding: 0;
  }

  &.sizeXL {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font-size: var(--font-size-xl);
    padding: 0;
  }
}

.rounded {
  border-radius: 50%;
}

.fullWidth {
  width: 100%;
}
