.Sidebar {
  position: relative;
  padding-top: 10px;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  transition: width 0.2s ease-out;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  row-gap: 20px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }
}

.collapseBtn {
  position: absolute;
  right: -14px;
  bottom: 40px;
  z-index: 1;
}

.items {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
}
