.ArticleList {
  &.small {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-items: center;
    gap: 10px;
  }

  &.big {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
