.ArticleList {
  &.small {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    .row {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    .card {
      display: inline-flex;
      height: 330px;
      width: 230px;
    }
  }

  &.big {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .card {
      height: 640px;
    }
  }
}

.virtualizedList {
  width: 100%;
}
