.ArticleList {
  &.small {
    display: flex;
    flex-wrap: wrap;

    .card {
      padding: 15px;
      height: 360px;
      width: 260px;
    }
  }

  &.big {
    display: flex;
    flex-direction: column;

    .card {
      padding: 15px 0;
    }
  }
}

