.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.menu {
  background: var(--card-bg);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid var(--primary-color);
  box-shadow: rgb(0 0 0 / 10%) 0 10px 50px;
}

.item {
  &.itemActive {
    background-color: var(--inverted-primary-color);
  }

  &.itemDisabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

