.InputWrapper {
  display: flex;
  column-gap: 5px;

  &.readonly {
    opacity: 0.7;
    user-select: none;
    pointer-events: none;
  }
}

.caret {
  display: none;
  position: absolute;
  height: 3px;
  width: 9px;
  background: var(--primary-color);
  bottom: 3px;
  left: 0;
  animation: blink 0.7s infinite;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);
  font: var(--font-m);
  font-family: var(--font-family-monospace);


  &:focus {
    outline: none;

    & + .caret {
      display: inline;
    }
  }
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.error {
  min-height: 24px;
}


@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
