.wrapper {
  width: 230px;
  height: 100%;
  display: block;
}

.date {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.ArticleListItemSmall {
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover .date {
    display: block;
  }
}

.imageWrapper {
  width: 200px;
  height: 200px;
  position: relative;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.infoWrapper {
  max-width: 100%;
  overflow: hidden;
  padding-top: 8px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

.types {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.views {
  padding-right: 8px;
}

.title {
  padding-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}
