.ArticleDetailsPageHeader {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
}

.right {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
