.readonly {
  opacity: 0.7;
  user-select: none;
  pointer-events: none;
}

.label {
  margin-right: 5px;
}

.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding: 2px 10px 2px 2px;
  border: 1px solid var(--primary-color);
}

.readonly .select {
  border: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}

