.ThemeSwitcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  .icon {
    width: 100%;
    height: 100%;

    &.sun {
      fill: yellow;
    }

    &.moon {
      color: var(--inverted-primary-color);
    }
  }
}

