.dark_theme {
  --bg-color: #1b1b33;
  --inverted-bg-color: #141414;
  --primary-color: #13df13;
  --secondary-color: #049604;
  --inverted-primary-color: #4674ff;
  --inverted-secondary-color: #0449e0;

  // Skeleton
  --skeleton-shadow: #1515ad;
  --skeleton-color: #2b2be8;

  // Code
  --code-bg: #19198c;

  // card
  --card-bg: #262646;

  // listbox
  --list-box-bg: #262646;
}
