.light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #1b1b33;
  --primary-color: #4674ff;
  --secondary-color: #0449e0;
  --inverted-primary-color: #13df13;
  --inverted-secondary-color: #049604;
}
