.purple_theme {
  --bg-color: #8836e7;
  --inverted-bg-color: #38125d;
  --primary-color: #F7F4FB;
  --secondary-color: #dfc7ff;
  --inverted-primary-color: #f300ff;
  --inverted-secondary-color: #e5cf24;

  // Skeleton
  --skeleton-shadow: #2b1046;
  --skeleton-color: #a563ef;

  // Code
  --code-bg: #a056f6;
}
