.purple_theme {
  --bg-color: #8836e7;
  --inverted-bg-color: #38125d;
  --primary-color: #F7F4FB;
  --secondary-color: #080b04;
  --inverted-primary-color: #f300ff;
  --inverted-secondary-color: #e5cf24;
}
