.Flex {
  display: flex;
}

.justifyStart {
  justify-content: start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: end;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.alignStart {
  align-items: start;
}

.alignStretch {
  align-items: stretch;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.xGap4 {
  column-gap: 4px;
}

.xGap8 {
  column-gap: 8px;
}

.xGap16 {
  column-gap: 16px;
}

.xGap32 {
  column-gap: 32px;
}

.yGap4 {
  row-gap: 4px;
}

.yGap8 {
  row-gap: 8px;
}

.yGap16 {
  row-gap: 16px;
}

.yGap32 {
  row-gap: 32px;
}
