.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);

  &.loading,
  &.error {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
  }

  &.editing {
    border: 2px solid var(--inverted-primary-color);
  }
}

.avatar {
  margin: 0 auto;
  display: block;
}

.input:not(:first-child) {
  margin-top: 5px;
}

.textError {
  min-height: 24px;
}
