.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.body {
  margin-top: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.input {
  margin-top: 15px;
}
