.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);

  &.editing {
    border: 2px solid var(--inverted-primary-color);
  }
}

.avatar {
  margin: 0 auto;
  display: block;
}

.input:not(:first-child) {
  margin-top: 5px;
}
