.Card {
  transition: all 0.2s ease;
  padding: 15px;
  border-radius: 12px;
}

.hover-shadow:hover {
  box-shadow: rgb(0 0 0 / 15%) 0 5px 15px 0;
}

.hover-scale-small:hover {
  transform: scale(1.02);
}

.default {
  background: var(--card-bg);
}

.outlined {
  border: 1px solid var(--primary-color);
}
