.AppLink {
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);

  &:hover {
    color: var(--inverted-primary-color);
  }
}

.secondary {
  color: var(--inverted-primary-color);

  &:hover {
    color: var(--primary-color);
  }
}

.red {
  color: tomato;
}
