.TextArea {
  position: relative;
}

.readonly {
  opacity: 0.7;
  user-select: none;
  pointer-events: none;
}

.textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--primary-color);
  background: transparent;
  outline: none;
  color: var(--primary-color);
  font: var(--font-m);
  font-family: var(--font-family-monospace);

  &:focus {
    outline: none;
  }
}

.error {
  position: absolute;
  top: 100%;
}
